# Dependencias locales
node_modules
npm-debug.log
yarn-error.log

# Archivos de compilación
.next
out

# Archivos de entorno
.env
.env.local
.env.development
.env.production

# Archivos de control de versiones
.git
.gitignore
