version: '3.8'

services:
  clamav:
    image: clamav/clamav:latest
    container_name: clamav
    restart: unless-stopped
    volumes:
      - clamav_data:/var/lib/clamav

  api:
    # Usamos la imagen pre-construida de Docker Hub, que es pública
    image: briacdelaigue/clamav-api:latest
    container_name: clamav_api_java
    restart: unless-stopped
    ports:
      # La API de Java se ejecuta en el puerto 8080
      - "8080:8080"
    environment:
      # Le decimos a la API de Java dónde encontrar el servicio ClamAV
      - CLAMAV_HOST=clamav
      - CLAMAV_PORT=3310
    depends_on:
      - clamav

volumes:
  clamav_data: